@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
body {
  background-color: rgb(31, 33, 34);
  font-family: Tahoma;
  font-size: 16px;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.loader {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  border: 5px solid rgb(236, 96, 144);
  margin: 10px;
}

.loader__element:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}

.loader__element:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
.card .item, .Most-Live-Stream .Live-row, .Live-stream .row, .other-related-games .cards-related, .other-related-games .cards-related .card, .game-details, .row, .Featured-Games .card-top, .Featured-Games .card-top .card-container .header-icons, .Featured-Games .card-top .card-container .header-icons .left-right-icons, .Featured-Games .card-top .card-container .cards, .Featured-Games .card-top .top-container .cards-2, .Featured-Games .card-top .top-container .cards-2 .card-downloads, .Featured-Games .card-top .top-container .cards-2 .card-downloads .card, .Featured-Games .card-top .top-container .cards-2 .card-downloads .card .item ul, .Moust-Popular, .Moust-Popular .container, .header .links-profile, .header .links-profile .links {
  display: flex;
}

.card .item, .other-related-games .cards-related .card, .game-details, .Featured-Games .card-top .card-container .header-icons, .Featured-Games .card-top .card-container .header-icons .left-right-icons, .Featured-Games .card-top .top-container .cards-2 .card-downloads, .Featured-Games .card-top .top-container .cards-2 .card-downloads .card, .header .links-profile {
  align-items: center;
}

.row {
  justify-content: center;
}

.card .item, .Featured-Games .card-top, .Featured-Games .card-top .card-container .header-icons, .Moust-Popular .container {
  justify-content: space-between;
}

.main-profile .row-2 .thumb ul, .Most-Live-Stream .Live-row .card .down-content, .other-related-games .cards-related .card .item, .game-details .left-info, .game-details .right-info, .gaming-library .item ul, .header, .header .logo-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-profile .row-2, .game-details .right-info ul, .game-details .row-imges, .header .links-profile .profile, .header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .links-profile .profile.show .profile-header {
  display: none;
}

@media (max-width:991px) {
  .header .logo-search .search svg, .header .logo-search .search .search-input, .header .links-profile {
    display: none;
  }
}

.footer .company, .row .col-right .thumb a svg, .Featured-Games .card-top .card-container .header-icons .left-right-icons .left-icon, .Featured-Games .card-top .card-container .header-icons .left-right-icons .right-icon, .header .logo-search .logo, .header .links-profile .links a:hover, .header .links-profile .profile, .header .menu, .header .menu span, .header .menu span::after, .header .menu span::before, .main-button {
  cursor: pointer;
}

.header .links-profile .profile .profile-header {
  border-radius: 50%;
}

.header .links-profile .profile {
  border-radius: 50px;
}

.hero-main {
  border-radius: 23px;
}

.header .links-profile.show, .header .menu span {
  position: absolute;
}

* {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.col {
  background-color: rgb(39, 41, 42);
  padding: 60px;
  border-radius: 23px;
}
@media (max-width:991px) {
  .col {
    padding: 0 20px;
  }
}

.main-button {
  padding: 12px 30px;
  border-radius: 23px;
  transition: all 0.3s;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

/*Start Header*/
.header {
  padding: 15px;
  color: rgb(102, 102, 102);
  font-size: 14px;
  z-index: 999;
  color: rgb(102, 102, 102);
}
@media (max-width:991px) {
  .header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
}
@media (min-width:992px) {
  .header {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.header .logo-search {
  width: 50%;
}
.header .logo-search .logo img {
  padding-right: 30px;
  margin-right: 5%;
}
@media (min-width:1200px) {
  .header .logo-search .logo img {
    border-right: 2px solid rgb(39, 41, 42);
  }
}
.header .logo-search .search {
  position: relative;
}
.header .logo-search .search svg {
  position: absolute;
  top: 15px;
  z-index: 2;
  left: 25px;
}
.header .logo-search .search .search-input {
  margin: 0 10px;
  padding: 15px;
  padding-left: 38px;
  border-radius: 25px;
  background-color: rgb(39, 41, 42);
  border: none;
  color: rgb(102, 102, 102);
}
.header .links-profile.show {
  display: block;
  background-color: white;
  top: 84px;
  width: 80%;
  left: 10%;
  text-align: center;
}
.header .links-profile.show .links {
  display: block;
}
.header .links-profile.show .links a {
  display: block;
  margin: 0;
  padding: 25px 0;
  border-bottom: 1px solid rgb(238, 238, 238);
}
.header .links-profile .links a {
  margin: 0 25px;
}
.header .links-profile .links a:hover {
  color: rgb(236, 96, 144);
}
.header .links-profile .links a.active {
  color: rgb(236, 96, 144);
}
.header .links-profile .profile {
  background-color: rgb(39, 41, 42);
  transition: all 0.3s;
}
.header .links-profile .profile.active {
  color: white;
  background-color: rgb(236, 96, 144);
}
.header .links-profile .profile:hover {
  background-color: rgb(236, 96, 144);
  color: white;
}
.header .links-profile .profile a {
  margin: 0 10px;
}
.header .links-profile .profile .profile-header {
  width: 40px;
  padding: 5px;
}
.header .links-profile .profile.show {
  background-color: initial;
  color: rgb(102, 102, 102);
  padding: 15px;
}
.header .links-profile .profile.show:hover {
  color: rgb(236, 96, 144);
}
.header .menu {
  position: relative;
  width: 25px;
  height: 25px;
}
@media (min-width:992px) {
  .header .menu {
    display: none;
  }
}
.header .menu span {
  background-color: rgb(236, 96, 144);
  width: 30px;
  height: 2px;
  border-radius: 10px;
  transition: all 0.3s;
}
.header .menu span::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  left: 0;
  background-color: rgb(236, 96, 144);
  transition: all 0.3s;
  border-radius: 10px;
  top: 8px;
}
.header .menu span::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  left: 0;
  background-color: rgb(236, 96, 144);
  transition: all 0.3s;
  top: -8px;
}
.header .menu span.rotate {
  background-color: initial;
}
.header .menu span.rotate::after, .header .menu span.rotate::before {
  top: -2px;
  width: 30px;
}
.header .menu span.rotate::after {
  rotate: 135deg;
}
.header .menu span.rotate::before {
  rotate: 40deg;
}

/*End Header*/
/* Start Hero*/
.hero-main {
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 380px;
  width: 100%;
  padding: 80px 60px;
}
@media (max-width:991px) {
  .hero-main {
    margin-top: 110px;
  }
}
@media (max-width:767px) {
  .hero-main {
    text-align: center;
  }
}
.hero-main .hero-text .hero-subtitle {
  color: white;
  margin: 0;
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 400;
}
.hero-main .hero-text .hero-title {
  color: white;
  margin: 0;
  margin-bottom: 25px;
  max-width: 500px;
  font-size: 45px;
  font-weight: bold;
}
.hero-main .hero-text .hero-title em {
  font-style: normal;
  color: rgb(236, 96, 144);
}
.hero-main .main-button {
  background-color: rgb(236, 96, 144);
  color: white;
}
.hero-main .main-button:hover {
  background-color: white;
  color: rgb(236, 96, 144);
}
@media (max-width:767px) {
  .hero-main .main-button {
    display: block;
    margin: auto;
  }
}

/* End Hero*/
.Moust-Popular {
  position: relative;
  background-color: rgb(31, 33, 34);
  padding: 20px 10px;
  margin: 20px 0;
  border-radius: 23px;
  flex-wrap: wrap;
}
.Moust-Popular h4 {
  margin-top: 10px;
}
.Moust-Popular .card {
  background-color: rgb(39, 41, 42);
}
.Moust-Popular .container {
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.Moust-Popular .main-button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(236, 96, 144);
  color: white;
}
.Moust-Popular .main-button:hover {
  background-color: white;
  color: rgb(236, 96, 144);
}

.gaming-library {
  position: relative;
  background-color: rgb(31, 33, 34);
  padding: 15px;
  color: white;
  margin-top: 50px;
  border-radius: 23px;
  padding-bottom: 40px;
}
.gaming-library .card {
  padding: unset;
}
.gaming-library h4 {
  margin-top: 10px;
}
.gaming-library .item {
  border-bottom: 1px solid rgb(39, 41, 42);
}
.gaming-library .item ul {
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
@media (max-width:767px) {
  .gaming-library .item ul {
    margin-bottom: 20px;
    padding: 15px;
  }
}
.gaming-library .item ul li h4 span {
  color: rgb(102, 102, 102);
  display: block;
  margin-top: 7px;
  font-weight: 400;
}
.gaming-library .item ul li img {
  max-width: 100px;
  border-radius: 23px;
}
.gaming-library .item ul li .main-button {
  border: 1px solid rgb(39, 41, 42);
}
.gaming-library .item ul li .main-button.donwloaded {
  color: rgb(102, 102, 102);
  cursor: default;
}
.gaming-library .item ul li .main-button.not-donwloaded {
  transition: all 0.3s;
  color: rgb(236, 96, 144);
  border-color: rgb(236, 96, 144);
}
.gaming-library .item ul li .main-button.not-donwloaded:hover {
  color: rgb(236, 96, 144);
  background-color: white;
  border-color: white;
}
.gaming-library .View-button {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(236, 96, 144);
  color: white;
}
.gaming-library .View-button:hover {
  background-color: white;
  color: rgb(236, 96, 144);
}

.Featured-Games .card-top {
  gap: 10px;
  align-items: start;
}
@media (max-width:991px) {
  .Featured-Games .card-top {
    margin-top: 130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.Featured-Games .card-top .card-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: rgb(31, 33, 34);
  border-radius: 23px;
  padding: 30px;
}
@media (min-width:992px) {
  .Featured-Games .card-top .card-container {
    width: 60%;
  }
}
.Featured-Games .card-top .card-container .header-icons {
  color: white;
  margin-bottom: 20px;
}
.Featured-Games .card-top .card-container .header-icons .sectopn-header {
  margin: 0;
}
.Featured-Games .card-top .card-container .header-icons .left-right-icons {
  visibility: hidden;
  justify-content: space-around;
  width: 10%;
}
.Featured-Games .card-top .card-container .header-icons .left-right-icons .left-icon {
  color: rgb(102, 102, 102);
  transition: all 0.3s;
  background-color: rgb(39, 41, 42);
  width: 25px;
  height: 25px;
  padding: 2px;
  text-align: center;
  border-radius: 15px;
}
.Featured-Games .card-top .card-container .header-icons .left-right-icons .left-icon:hover {
  color: rgb(236, 96, 144);
}
.Featured-Games .card-top .card-container .header-icons .left-right-icons .right-icon {
  color: rgb(102, 102, 102);
  transition: all 0.3s;
  background-color: rgb(39, 41, 42);
  width: 25px;
  height: 25px;
  padding: 2px;
  text-align: center;
  border-radius: 15px;
}
.Featured-Games .card-top .card-container .header-icons .left-right-icons .right-icon:hover {
  color: rgb(236, 96, 144);
}
.Featured-Games .card-top .card-container .cards {
  gap: 15px;
}
.Featured-Games .card-top .card-container .cards .card {
  padding: 0;
  width: 300px;
  position: relative;
}
@media (max-width:991px) {
  .Featured-Games .card-top .card-container .cards .card {
    min-width: 300px;
  }
}
.Featured-Games .card-top .card-container .cards .card .thumb img {
  width: inherit;
  pointer-events: none;
}
@media (max-width:991px) {
  .Featured-Games .card-top .card-container .cards .card .thumb img {
    width: 100%;
  }
}
.Featured-Games .card-top .card-container .cards .card .thumb .stream-span {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rebeccapurple;
  padding: 10px;
}
.Featured-Games .card-top .card-container .cards .card .item h4 {
  margin: 0;
  font-size: 12px;
}
.Featured-Games .card-top .card-container .cards .card .item ul {
  margin: 0;
}
@media (max-width:991px) {
  .Featured-Games .card-top .card-container .cards .card .item ul {
    font-size: 12px;
  }
}
.Featured-Games .card-top .top-container {
  background-color: rgb(31, 33, 34);
  border-radius: 23px;
  padding: 20px;
  max-height: 567px;
  min-height: 567px;
  width: 90%;
}
@media (min-width:992px) {
  .Featured-Games .card-top .top-container {
    width: 40%;
  }
}
.Featured-Games .card-top .top-container .sectopn-header {
  margin: 0;
  margin-bottom: 20px;
}
.Featured-Games .card-top .top-container .cards-2 {
  flex-direction: column;
  gap: 10px;
}
.Featured-Games .card-top .top-container .cards-2 .card-downloads {
  border-bottom: 1px solid rgb(39, 41, 42);
  padding-bottom: 15px;
}
.Featured-Games .card-top .top-container .cards-2 .card-downloads .card {
  gap: 10px;
  padding: 0;
  width: 300px;
  position: relative;
}
.Featured-Games .card-top .top-container .cards-2 .card-downloads .card .thumb img {
  width: 80px;
  margin-right: 15px;
}
.Featured-Games .card-top .top-container .cards-2 .card-downloads .card .thumb .stream-span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rebeccapurple;
  padding: 10px;
}
.Featured-Games .card-top .top-container .cards-2 .card-downloads .card .item {
  flex-direction: column;
  align-items: start;
}
.Featured-Games .card-top .top-container .cards-2 .card-downloads .card .item h4 {
  color: white;
  margin: 0;
  padding: 0;
}
.Featured-Games .card-top .top-container .cards-2 .card-downloads .card .item ul {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
@media (max-width:991px) {
  .Featured-Games .card-top .top-container .cards-2 .card-downloads .card .item ul {
    font-size: 12px;
  }
}
.Featured-Games .card-top .top-container .cards-2 .card-downloads .card .item ul li {
  margin-right: 10px;
}
.Featured-Games .card-top .top-container .cards-2 .card-downloads .card .item ul li .star-icon {
  margin: 0;
  margin-right: 5px;
}
.Featured-Games .card-top .top-container .cards-2 .card-downloads .card .item ul li .downloads {
  margin: 0;
  margin-right: 5px;
}
.Featured-Games .card-top .top-container .cards-2 .card-downloads .download {
  color: rgb(236, 96, 144);
  padding: 10px;
  background-color: rgb(39, 41, 42);
  border-radius: 23px;
}
.Featured-Games .card-top .top-container .cards-2 a {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 600;
  color: rgb(236, 96, 144);
  font-size: 15px;
}
@media (min-width:992px) {
  .Featured-Games .card-top .top-container .cards-2 a {
    margin-top: 0;
  }
}

.card-streamers .card-str {
  padding: 20px 0px !important;
}
.card-streamers .card-str .item-str {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.card-streamers .card-str .item-str .icon-str svg {
  color: rgb(236, 96, 144);
}
.card-streamers .card-str .item-str h4 {
  margin: 0 10px;
  color: white;
}
.card-streamers .main-button {
  padding: unset;
}

.row {
  align-items: stretch;
  gap: 10px;
}
@media (max-width:991px) {
  .row {
    margin-top: 130px;
    flex-direction: column;
  }
}
.row .col-left {
  width: 100%;
}
@media (min-width:992px) {
  .row .col-left {
    width: 33.5%;
  }
}
.row .col-left img {
  width: 100%;
  border-radius: 23px;
  padding: 0 10px;
}
@media (min-width:992px) {
  .row .col-right {
    width: 66.5%;
  }
}
.row .col-right .thumb {
  position: relative;
  max-height: 305px;
}
.row .col-right .thumb img {
  border-radius: 23px;
  width: 100%;
}
.row .col-right .thumb a svg {
  color: rgb(236, 96, 144);
  background-color: white;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 15px;
}

.game-name {
  color: white !important;
  text-align: center;
  text-transform: uppercase;
  margin: 60px 0px;
}

.game-details {
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgb(31, 33, 34);
  padding: 30px;
  border-radius: 23px;
}
@media (max-width:991px) {
  .game-details {
    flex-direction: column;
  }
}
.game-details .left-info {
  width: 100%;
  background-color: rgb(39, 41, 42);
  color: white;
  border-radius: 23px;
  padding: 20px;
}
@media (min-width:992px) {
  .game-details .left-info {
    flex: 1;
  }
}
.game-details .left-info h4 .category {
  color: rgb(102, 102, 102);
  display: block;
  margin-top: 7px;
  font-weight: 400;
}
.game-details .left-info ul {
  margin: 0;
}
.game-details .left-info ul li {
  margin: 10px 0;
}
.game-details .left-info ul li .star-icon {
  margin: 0 10px;
  color: #ffc107;
}
.game-details .left-info ul li .downloads {
  margin: 0 10px;
  color: #dc3545;
}
.game-details .right-info {
  width: 100%;
  background-color: rgb(39, 41, 42);
  color: white;
  padding: 20px;
  border-radius: 23px;
}
@media (min-width:992px) {
  .game-details .right-info {
    flex: 1;
  }
}
.game-details .right-info ul {
  gap: 10px;
  width: 100%;
}
.game-details .right-info ul li {
  display: inline-block;
  width: 23%;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.game-details .right-info ul li span {
  display: block;
  margin-bottom: 10px;
}
.game-details .right-info ul li .star-icon {
  color: #ffc107;
}
.game-details .right-info ul li .downloads {
  color: #dc3545;
}
.game-details .row-imges {
  gap: 10px;
  width: 100%;
}
@media (max-width:1200px) {
  .game-details .row-imges {
    flex-direction: column;
  }
}
.game-details .row-imges img {
  width: 100%;
  border-radius: 23px;
}
.game-details p {
  color: rgb(102, 102, 102);
  line-height: 30px;
}
.game-details p a {
  color: rgb(238, 238, 238);
  padding: 0 3px;
}
.game-details .game-download {
  display: block;
  width: 100%;
  border: 1px solid rgb(236, 96, 144);
  color: rgb(236, 96, 144);
  text-align: center;
}
.game-details .game-download:hover {
  color: rgb(236, 96, 144);
  background-color: white;
}

.other-related-games {
  background-color: rgb(31, 33, 34);
  padding: 20px;
  border-radius: 23px;
  margin-top: 60px;
}
.other-related-games .sectopn-header {
  margin-top: 0;
}
.other-related-games .cards-related {
  flex-wrap: wrap;
}
.other-related-games .cards-related .card {
  border-bottom: 1px solid rgb(39, 41, 42);
  border-radius: unset;
  flex: 0 0 100%;
  width: 100%;
}
@media (min-width:992px) {
  .other-related-games .cards-related .card {
    flex: 0 0 auto;
    width: 50%;
  }
}
.other-related-games .cards-related .card .thumb img {
  max-width: 80px;
}
.other-related-games .cards-related .card .item {
  width: 100%;
  margin-left: 15px;
}
.Live-stream {
  padding-top: 30px;
}
.Live-stream .sectopn-header {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width:991px) {
  .Live-stream .sectopn-header {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
.Live-stream .row {
  margin-top: unset;
  align-items: start;
  gap: 10px;
}
@media (max-width:991px) {
  .Live-stream .row {
    flex-direction: column;
    align-items: center;
  }
}
.Live-stream .row .item {
  padding: 30px;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 15px;
}
@media (max-width:991px) {
  .Live-stream .row .item {
    width: 90%;
    padding: 15px;
  }
}
.Live-stream .row .item img {
  border-radius: 50%;
}
.Live-stream .row .item h4 {
  color: white;
}
.Live-stream .row .item p {
  color: rgb(102, 102, 102);
  line-height: 1.8;
}
.Live-stream .row .item p a {
  color: rgb(236, 96, 144);
}
.Live-stream .main-button {
  background-color: rgb(236, 96, 144);
  color: white;
  margin: auto;
  text-align: center;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
}
@media (max-width:991px) {
  .Live-stream .main-button {
    margin-bottom: 20px;
  }
}
.Live-stream .main-button:hover {
  background-color: white;
  color: rgb(236, 96, 144);
}

.Most-Live-Stream {
  position: relative;
  background-color: rgb(31, 33, 34);
  border-radius: 23px;
  padding: 30px;
  margin-top: 30px;
}
.Most-Live-Stream .sectopn-header {
  margin: 0;
  margin-bottom: 10px;
}
.Most-Live-Stream .Live-row {
  flex-wrap: wrap;
}
@media (min-width:1200px) {
  .Most-Live-Stream .Live-row .card {
    flex: 1 1 25%;
  }
}
.Most-Live-Stream .Live-row .card .themb img {
  max-width: 100%;
}
.Most-Live-Stream .Live-row .card .down-content {
  width: 100%;
  margin-top: 20px;
}
.Most-Live-Stream .Live-row .card .down-content img {
  width: 50px;
  margin-right: 15px;
}
.Most-Live-Stream .Live-row .card .down-content .text .user {
  color: rgb(236, 96, 144);
}
.Most-Live-Stream .Live-row .card .down-content .text .user .icon {
  margin-right: 5px;
  color: rgb(236, 96, 144);
}
.Most-Live-Stream .Live-row .card .down-content .text h4 {
  margin: 10px 5px;
  color: white;
}
.Most-Live-Stream .main-button {
  background-color: rgb(236, 96, 144);
  color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Most-Live-Stream .main-button:hover {
  background-color: white;
  color: rgb(236, 96, 144);
}

.main-profile {
  background-color: rgb(31, 33, 34);
  padding: 30px;
  border-radius: 23px;
}
@media (max-width:991px) {
  .main-profile {
    margin-top: 130px;
  }
}
.main-profile .row-1 {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  border-bottom: 1px solid rgb(102, 102, 102);
  padding-bottom: 30px;
}
@media (max-width:991px) {
  .main-profile .row-1 {
    flex-direction: column;
  }
}
.main-profile .row-1 img {
  border-radius: 23px;
  width: 100%;
}
@media (min-width:992px) {
  .main-profile .row-1 img {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
.main-profile .row-1 .alan-smithee {
  width: 100%;
}
@media (min-width:992px) {
  .main-profile .row-1 .alan-smithee {
    width: 33.33333333%;
  }
}
.main-profile .row-1 .alan-smithee span {
  color: white;
  background-color: rgb(236, 96, 144);
  padding: 10px 15px;
  border-radius: 23px;
}
.main-profile .row-1 .alan-smithee .sectopn-header {
  color: white;
}
.main-profile .row-1 .alan-smithee p {
  color: rgb(102, 102, 102);
  margin: 40px 0;
}
.main-profile .row-1 .alan-smithee .start-button {
  color: rgb(236, 96, 144);
  border: 1px solid;
}
.main-profile .row-1 .alan-smithee .start-button:hover {
  border: unset;
  color: rgb(236, 96, 144);
  background-color: white;
}
.main-profile .row-1 ul {
  background-color: rgb(39, 41, 42);
  padding: 30px;
  border-radius: 23px;
  width: 100%;
}
@media (min-width:992px) {
  .main-profile .row-1 ul {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
.main-profile .row-1 ul li {
  color: rgb(102, 102, 102);
  font-size: 14px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.main-profile .row-1 ul li:not(:last-of-type) {
  border-bottom: 1px solid rgb(39, 41, 42);
  margin-bottom: 20px;
}
.main-profile .row-1 ul li span {
  color: rgb(236, 96, 144);
}
.main-profile .row-2 {
  gap: 20px;
}
@media (max-width:991px) {
  .main-profile .row-2 {
    flex-wrap: wrap;
  }
}
.main-profile .row-2 .thumb {
  padding: 30px 15px;
  background-color: rgb(39, 41, 42);
  border-radius: 23px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
@media (max-width:767px) {
  .main-profile .row-2 .thumb {
    flex: 0 0 auto;
    width: 100%;
  }
}
.main-profile .row-2 .thumb img {
  border-radius: 23px;
  width: 100%;
}
.main-profile .row-2 .thumb .Play-icon a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-23px, -23px);
  width: 46px;
  height: 46px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 46px;
  color: #ec6090;
}
.main-profile .row-2 .thumb ul li {
  color: white;
}
.main-profile .row-2 .thumb ul li span {
  margin: 0 5px;
  color: rgb(236, 96, 144);
}
.main-profile .row-2 .thumb ul .title-sub {
  font-weight: 600;
}

.sectopn-header {
  color: rgb(236, 96, 144);
  font-size: 34px;
  text-decoration: none;
  margin-bottom: 30px;
}
@media (max-width:991px) {
  .sectopn-header {
    font-size: 20px;
  }
}
.sectopn-header em {
  color: white;
  margin: 0 10px;
  font-style: normal;
  text-decoration: underline;
}

.card {
  padding: 15px;
  border-radius: 23px;
  flex: 1 1 24%;
}
@media (max-width:767px) {
  .card {
    flex: 1 1 auto;
  }
}
.card img {
  border-radius: 23px;
  width: 100%;
}
.card .item h4 {
  color: white;
}
.card .item h4 .companyName {
  color: rgb(102, 102, 102);
  display: block;
  margin-top: 7px;
  font-weight: 400;
}
.card .item ul li {
  color: white;
  margin: 5px 0;
}
.card .item ul li .downloads,
.card .item ul li .star-icon {
  margin: 0 10px;
}
.card .item ul li .star-icon {
  color: #ffc107;
}
.card .item ul li .downloads {
  color: #dc3545;
}

/*Start Footer*/
.footer {
  color: white;
  padding: 30px;
  text-align: center;
  line-height: 1.8;
  font-weight: 300;
  margin-top: 10px;
}
.footer .company {
  transition: all 0.3s;
}
.footer .company:hover {
  color: rgb(236, 96, 144);
}

/*End Footer*//*# sourceMappingURL=homepage.css.map */