@use "../helpes/variables" as *;
body {
  // user-select: none;
  background-color: $mainColor;
  font: {
    family: Tahoma;
    size: 16px;
  }
}
ul,
ol {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
